<app-component-header-modal title="Liste des numéros d'urgences"></app-component-header-modal>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let emergency of emergencies; let index = index">
      <ion-label>
        <ion-card-title>
          {{emergency.Country.Name }}
        </ion-card-title>
        <div>
          <span>
            <ion-icon src="assets/icons/police.svg"></ion-icon>
            {{ emergency.Police.All[0] }}
          </span> &nbsp;
          <span>
            <ion-icon src="assets/icons/medical.svg"></ion-icon>
            {{ emergency.Ambulance.All[0] }}
          </span> &nbsp;
          <span>
            <ion-icon src="assets/icons/fire.svg"></ion-icon>
            {{ emergency.Fire.All[0] }}
          </span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>