<app-component-header-page></app-component-header-page>
<ion-content>

  <!-- Last GPS -->
  <ion-card color="success">
    <ion-card-content class="ion-text-center">
      <ion-card-title>
        Votre dernière position connue :
      </ion-card-title>
      <div>Latitude (décimale) : <b>{{ gps.lat }}</b></div>
      <div>Longitude (décimale) : <b>{{ gps.lng }}</b></div>
      <div *ngIf="address">Adresse : <b>{{ address }}</b></div>
      <div>Date : <b>{{ gps.date | date : 'd/MM/y H:m' }}</b></div>
    </ion-card-content>
  </ion-card>

  <!-- Call rescue -->
  <ion-card *ngIf="phoneEmergency">
    <ion-card-content class="ion-text-center">
      <ion-card-title>Contactez les urgences du pays où vous êtes</ion-card-title>
      <ion-card-subtitle>Cliquez pour appeler le numéro</ion-card-subtitle>
      <div *ngIf="phoneEmergency.Police.All[0]">
        <ion-button>
          <ion-icon src="assets/icons/police.svg"></ion-icon> &nbsp;
          {{ phoneEmergency.Police.All[0] }}
        </ion-button>
      </div>
      <div *ngIf="phoneEmergency.Ambulance.All[0]">
        <ion-button>
          <ion-icon src="assets/icons/medical.svg"></ion-icon> &nbsp;
          {{ phoneEmergency.Ambulance.All[0] }}
        </ion-button>
      </div>
      <div *ngIf="phoneEmergency.Fire.All[0]">
        <ion-button>
          <ion-icon src="assets/icons/fire.svg"></ion-icon> &nbsp;
          {{ phoneEmergency.Fire.All[0] }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- List rescue -->
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-card-title>Liste des numéros d'urgences</ion-card-title>
      <div>
        <ion-button (click)="modalParam()">
          Voir la liste
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>