<app-component-header-modal title="Sources"></app-component-header-modal>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let source of selectSources; let index = index">
      <ion-label>
        {{source.title}}
      </ion-label>
      <ion-checkbox slot="end" [checked]="(source.active) ? true : false" (ionChange)="onChange(index, $event)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>