<app-component-header-modal title="Points d'intérêt"></app-component-header-modal>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let POI of selectPOIs; let index = index">
      <ion-avatar slot="start">
        <ion-img [src]="'assets/map/' + POI.icon + '.png'" [alt]="POI.title"></ion-img>
      </ion-avatar>
      <ion-label>
        {{POI.title}}
      </ion-label>
      <ion-checkbox slot="end" [checked]="(POI.active) ? true : false" (ionChange)="onChange(index, $event)">
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>