<app-component-header-modal title="Plus"></app-component-header-modal>
<ion-content>
  <div class="ion-margin">
    <div class="ion-text-center ion-margin-top">
      <ion-card-title>
        {{ config.title }}
      </ion-card-title>
      <div>
        v {{ config.version }}
      </div>
      <div>
        Par : {{ config.owner }}
      </div>
      <div>
        {{ config.contact }}
      </div>
    </div>
    <div>
      <b>Crédits</b>
      <ul>
        <li *ngFor="let source of config.sources">{{ source }}</li>
      </ul>
    </div>
    <ion-card-title class="ion-text-center ion-margin-top">
      Conditions d'utilisation
    </ion-card-title>
    <div class="ion-margin-top">
      {{ config.title }} est une application gratuite et sous license <a
        href="https://choosealicense.com/licenses/apache-2.0/">Apache License 2.0</a>.
    </div>
    <div class="ion-margin-top">
      Vous pouvez consulter le code source de cette application ici : <a [href]="config.repoUrl">{{ config.repoUrl
        }}</a>.
    </div>
  </div>
</ion-content>