<ion-header mode=md>
  <ion-toolbar color="primary">
    <ion-title class="font-special">

      <!-- Title -->
      {{ title }}

      <!-- Close -->
      <ion-icon src="assets/icons/close.svg" title="Fermer la page actuelle" (click)="onDismiss()"
        class="ion-float-right pointer"></ion-icon>

    </ion-title>
  </ion-toolbar>
</ion-header>