.img-content {
    height: 200px;
    width: 100%;
}
.title-content {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-content {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
