<app-component-header-page></app-component-header-page>
<ion-content>

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Search-->
  <ion-searchbar [(ngModel)]="search" (ionChange)="getNews()" placeholder="Rechercher"></ion-searchbar>

  <!-- Button -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="modalParam()">
      <ion-icon src="assets/icons/param.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- No result -->
  <ion-card *ngIf="!news">
    <ion-card-content class="ion-text-center">
      <ion-icon class="icon-loader" src="assets/icons/loader.svg"></ion-icon>
      <ion-card-title>
        Recherche en cours ...
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <!-- Result -->
  <ion-grid *ngIf="news">
    <ion-row>
      <ion-col *ngFor="let new of news" size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card (click)="link(new.url)">
          <img class="img-content" [src]="new.urlToImage" alt="Image">
          <ion-card-content>
            <ion-card-subtitle *ngIf="new.source?.name" class="ion-text-right">
              {{ new.source.name }}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="!new.source?.name" class="ion-text-right">
              Inconnu
            </ion-card-subtitle>
            <ion-card-subtitle class="ion-text-right">
              Publié le {{ new.publishedAt | date : 'd/M/yy' }}
            </ion-card-subtitle>
            <ion-card-title class="title-content">
              {{ new.title }}
            </ion-card-title>
            <div class="ion-margin-top text-content">
              {{ new.content }}
            </div>
            <ion-card-subtitle class="ion-margin-top ion-text-center">
              Cliquez pour en savoir plus
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>