<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button title="Voir la page Position" [routerLink]="['/location']" routerLinkActive="root-active">
      <ion-icon src="assets/icons/sensor.svg"></ion-icon>
      <ion-label>Capteurs</ion-label>
    </ion-tab-button>

    <ion-tab-button title="Voir la page Carte" [routerLink]="['/map']" routerLinkActive="root-active">
      <ion-icon src="assets/icons/map.svg"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button title="Voir la page Météo" [routerLink]="['/weather']" routerLinkActive="root-active">
      <ion-icon src="assets/icons/weather.svg"></ion-icon>
      <ion-label>Météo</ion-label>
    </ion-tab-button>

    <ion-tab-button title="Voir la page Actualité" [routerLink]="['/news']" routerLinkActive="root-active">
      <ion-icon src="assets/icons/news.svg"></ion-icon>
      <ion-label>Actualité</ion-label>
    </ion-tab-button>

    <ion-tab-button title="Voir la page Urgence" [routerLink]="['/emergency']" routerLinkActive="root-active">
      <ion-icon src="assets/icons/emergency.svg"></ion-icon>
      <ion-label>Urgence</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>