.title-text {
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 2px blue, 0 0 5px yellow, 0 0 5px yellow;
}
.title-img {
    vertical-align: middle;
}
.title-icon {
    margin-right: 10px;
    font-size: 1.5em;
}
