<ion-header>
  <ion-toolbar color="primary">

    <!-- Title -->
    <ion-title mode=md title="Revenir à la page d’accueil" [routerLink]="['/home']">
      <img src="./assets/images/logos/favicon.png" alt="Logo {{ config.title }}" class="title-img" width="40"
        height="40">
      <span class="title-text font-special">
        {{ config.title }}
      </span>
    </ion-title>

    <!-- Buttons -->
    <ion-buttons slot="end">

      <!-- Param -->
      <ion-icon (click)="modalConfig()" title="Afficher les paramètres" class="pointer title-icon"
        src="assets/icons/plus.svg"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>