<app-component-header-page></app-component-header-page>
<ion-content>

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--Search-->
  <ion-searchbar [(ngModel)]="search" (ionChange)="getWeathers()" placeholder="Rechercher une ville"></ion-searchbar>

  <!-- No result -->
  <ion-card *ngIf="!weathers">
    <ion-card-content class="ion-text-center">
      <ion-icon class="icon-loader" src="assets/icons/loader.svg"></ion-icon>
      <ion-card-title>
        Recherche en cours ...
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <!-- Result -->

  <ion-list *ngIf="weathers">
    <ion-item *ngFor="let weather of weathers">

      <!-- Image -->
      <ion-avatar slot="start">
        <ion-img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png"
          alt="weather.weather[0].description"></ion-img>
      </ion-avatar>

      <ion-label>

        <!-- Hour -->
        <ion-text slot="end">
          Le {{ weather.dt_txt | date: 'dd/MM/yy à HH' }}h à {{ city.name }}
        </ion-text>

        <!-- Humidity -->
        <div>
          <ion-icon src="assets/icons/drop.svg"></ion-icon>
          {{ weather.main.humidity }} %
        </div>

        <!-- Wind -->
        <div>
          <ion-icon src="assets/icons/wind.svg"></ion-icon>
          {{ weather.wind.speed * 3.6 | number: '0.0-0' }} km/h ({{ windOrientation(weather.wind.deg) }}) - Force {{
          windForce(weather.wind.speed) }}
        </div>

        <!-- Temperature -->
        <div>
          <ion-icon src="assets/icons/thermometer.svg"></ion-icon>
          {{ weather.main.temp | number: '0.0-0' }} ° (min : {{ weather.main.temp_max | number: '0.0-0' }} °,
          max : {{ weather.main.temp_min | number: '0.0-0' }} °)
        </div>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>