<app-component-header-page></app-component-header-page>
<ion-content>

  <!-- GPS -->
  <ion-card>
    <ion-card-content>
      <ion-card-title class="ion-text-center">GPS</ion-card-title>
      <div>
        <ion-label>Latitude (décimale) : </ion-label>
        <ion-text *ngIf="gps.lat">{{ gps.lat }}</ion-text>
        <ion-text *ngIf="!gps.lat">Inconnue</ion-text>
        <br>
        <ion-label>Longitude (décimale) : </ion-label>
        <ion-text *ngIf="gps.lng">{{ gps.lng }}</ion-text>
        <ion-text *ngIf="!gps.lng">Inconnue</ion-text>
        <br>
        <ion-label>Précision : </ion-label>
        <ion-text *ngIf="gps.accuracy">{{ gps.accuracy | number : '1.0-0' }} m</ion-text>
        <ion-text *ngIf="!gps.accuracy">Inconnue</ion-text>
        <br>
        <ion-label>Direction : </ion-label>
        <ion-text *ngIf="gps.heading">{{ gps.heading | number : '1.0-0' }} °</ion-text>
        <ion-text *ngIf="!gps.heading">Inconnue</ion-text>
        <br>
        <ion-label>Vitesse : </ion-label>
        <ion-text *ngIf="gps.speed">{{ (gps.speed * 3.6) | number : '1.0-0' }} km/h - {{ (gps.speed * 1.95) | number : '1.0-0' }} nds</ion-text>
        <ion-text *ngIf="!gps.speed">Inconnue</ion-text>
      </div>
      <ion-card *ngIf="gps.isGPSError" color="danger">
        <ion-card-content>
          Votre GPS ne fonctionne pas correctement, les informations peuvent être erronées !
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <!-- Compass -->
  <ion-card>
    <ion-card-content>
      <ion-card-title class="ion-text-center">Boussole</ion-card-title>
      <ion-label>Direction : </ion-label>
      <ion-text *ngIf="compass.heading">{{ compass.heading | number : '1.0-0' }} °</ion-text>
      <ion-text *ngIf="!compass.heading">Inconnue</ion-text>
      <ion-card *ngIf="isCompassError" color="danger">
        <ion-card-content>
          Votre boussole ne fonctionne pas correctement, les informations peuvent être erronées !
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>