#map {
    width: 100%;
    height: 100%;
}
.card-info {
    z-index: 999;
    position: fixed;
    top: 50px;
}
.card-info-bottom {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 50px;
}
ion-fab-button {
    margin-top: 5px;
}
