<app-component-header-page></app-component-header-page>
<ion-content>

  <!-- Info -->
  <ion-card class="card-info" *ngIf="gps.isGPSError" color="danger">
    <ion-card-content>
      Votre GPS ne fonctionne pas correctement, les informations peuvent être erronées !
    </ion-card-content>
  </ion-card>
  <ion-card class="card-info-bottom" *ngIf="guidanceMessage.title" color="success">
    <ion-card-content>
      <b>{{ guidanceMessage.title }}</b>
      <br>
      Distance : {{ guidanceMessage.distance }}
      <br>
      Direction : {{ guidanceMessage.direction }}
    </ion-card-content>
  </ion-card>

  <!-- Button -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="modalParam()">
      <ion-icon src="assets/icons/markers.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onCenterLocation()">
      <ion-icon src="assets/icons/location.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onSearch()">
      <ion-icon src="assets/icons/search.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Map -->
  <div id="map"></div>

</ion-content>